@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model appv1.DAL.Models.Student
@{

}


<h1>Dodano @Model.Imie @Model.Nazwisko o numerze indeksu @Model.NumerIndeksu  do bazy danych!</h1>
<a class="nav-link" asp-area="" asp-action="Index">Powrót</a>
<a class="nav-link" asp-area="" asp-action="DodajStudenta">Dodaj kolejne</a>