@model appv1.DAL.Models.Login
@{
    ViewBag.Title = "Login";
     @inject IHttpContextAccessor HttpContextAccessor

}

<h2>@HttpContextAccessor.HttpContext.Session.GetString("cart")</h2>


<div>
    @using (Html.BeginForm("Login", "Home"))
    {

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Witamy, zaloguj się </h2>
								<p>Nie masz konta ?</p>
								<a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-white btn-outline-white">rejestracja</a>
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Zaloguj się</h3>
							  <p>@ViewBag.Message</p>
			      		</div>
			      	</div>
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Nazwa użytkownika</label>
			      			<div class="col-lg-10">@Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })</div>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Hasło</label>
						<div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type="Password" })</div>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3">Zaloguj</button>
		            </div>
		        </div>
		      </div>
				</div>
			</div>
		</div>
		}
</div>