@model appv1.DAL.Models.Login
@{
    ViewBag.Title = "Login";

}

<h2>Login</h2>


<div>
    @using (Html.BeginForm("Login", "Home"))
    {
        <div class="row">
            <div class="col-lg-12">@ViewBag.Error</div>
        </div><br />
       
        <div class="row">
            <div class="col-lg-2">Login</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">Hasło</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type="Password" })</div>
        </div><br />
        <input type="submit" value="Zaloguj" class="btn btn-primary" />
    }
    
</div>

<p>  Nie masz konta ?  - <a asp-area="" asp-controller="Home" asp-action="Register">Zarejestruj się</a></p>