@model List<Student>

@{
    ViewData["Title"] = "Lista Studentow";
}

<div>
    <h1>Studenci</h1>
    <table>
        <thead>
            <tr> ID </tr>
            <tr> Imie </tr>
            <tr> Nazwisko </tr>
            <tr> NumerIndeksu </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.ID </td>
                    <td> @item.NumerIndeksu </td>
                    <td> @item.Imie </td>
                    <td> @item.Nazwisko </td>
                </tr>
            }
        </tbody>
    </table>
</div>
