html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tabela {
    table-layout: fixed;
    text-align:center;
   
}
.tabela td{
    min-width:25px;
}
    .tabela td {
        border: solid 1px black;
        padding:10px;
    }